.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.build/*
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/ela.sln
build/ela.vcxproj
build/ela.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-06f1d87f29fac5aad5cf.json
build/.cmake/api/v1/reply/cmakeFiles-v1-16684b7e854c2fec5936.json
build/.cmake/api/v1/reply/codemodel-v2-fa62fdaeac4f64ca7bad.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-MinSizeRel-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-RelWithDebInfo-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/index-2025-01-17T10-41-25-0557.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-d19ca856b885dcc30625.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-d19ca856b885dcc30625.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-d19ca856b885dcc30625.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-d19ca856b885dcc30625.json
build/.cmake/api/v1/reply/target-ela-Debug-9e0c5badfa2a348c40b5.json
build/.cmake/api/v1/reply/target-ela-MinSizeRel-bad0222812160a2cbaa4.json
build/.cmake/api/v1/reply/target-ela-Release-585c0641c17461b95323.json
build/.cmake/api/v1/reply/target-ela-RelWithDebInfo-1d4924703b8fe85a43b3.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Debug-7d0a75dfa4a62caf9cb0.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-MinSizeRel-7d0a75dfa4a62caf9cb0.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Release-7d0a75dfa4a62caf9cb0.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-RelWithDebInfo-7d0a75dfa4a62caf9cb0.json
build/.cmake/api/v1/reply/toolchains-v1-494e860a2f1058e7a1f8.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/0aad912a68b5c3cab413276973057250/generate.stamp.rule
build/CMakeFiles/3.31.0-rc2/CMakeCCompiler.cmake
build/CMakeFiles/3.31.0-rc2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.31.0-rc2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.31.0-rc2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.31.0-rc2/CMakeRCCompiler.cmake
build/CMakeFiles/3.31.0-rc2/CMakeSystem.cmake
build/CMakeFiles/3.31.0-rc2/VCTargetsPath.txt
build/CMakeFiles/3.31.0-rc2/VCTargetsPath.vcxproj
build/CMakeFiles/3.31.0-rc2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.31.0-rc2/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.31.0-rc2/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.31.0-rc2/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.31.0-rc2/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.31.0-rc2/CompilerIdC/Debug/vcpkg.applocal.log
build/CMakeFiles/3.31.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.31.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/Cl.items.tlog
build/CMakeFiles/3.31.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.31.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.31.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.31.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.31.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.31.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link.secondary.1.tlog
build/CMakeFiles/3.31.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.31.0-rc2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.31.0-rc2/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.31.0-rc2/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.31.0-rc2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.31.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.31.0-rc2/CompilerIdCXX/Debug/vcpkg.applocal.log
build/CMakeFiles/3.31.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.31.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
build/CMakeFiles/3.31.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.31.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.31.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.31.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.31.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.31.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.secondary.1.tlog
build/CMakeFiles/3.31.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.31.0-rc2/VCTargetsPath/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.31.0-rc2/VCTargetsPath/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/Debug/ela.exe
build/Debug/ela.pdb
build/ela.dir/Debug/.d.json
build/ela.dir/Debug/ela.exe.recipe
build/ela.dir/Debug/ela.ilk
build/ela.dir/Debug/main.cpp.module.json
build/ela.dir/Debug/main.obj
build/ela.dir/Debug/vc143.pdb
build/ela.dir/Debug/vcpkg.applocal.log
build/ela.dir/Debug/ela.tlog/CL.command.1.tlog
build/ela.dir/Debug/ela.tlog/Cl.items.tlog
build/ela.dir/Debug/ela.tlog/CustomBuild.command.1.tlog
build/ela.dir/Debug/ela.tlog/CustomBuild.read.1.tlog
build/ela.dir/Debug/ela.tlog/CustomBuild.write.1.tlog
build/ela.dir/Debug/ela.tlog/ela.lastbuildstate
build/ela.dir/Debug/ela.tlog/link.command.1.tlog
build/ela.dir/Debug/ela.tlog/link.read.2.tlog
build/ela.dir/Debug/ela.tlog/link.secondary.1.tlog
build/ela.dir/Debug/ela.tlog/link.write.1.tlog
build/ela.dir/Debug/ela.tlog/Microsoft.Build.CPPTasks.CL.read.1.tlog
build/ela.dir/Debug/ela.tlog/Microsoft.Build.CPPTasks.CL.write.1.tlog
build/ela.dir/Debug/ela_MD.tlog/CL.command.1.tlog
build/ela.dir/Debug/ela_MD.tlog/Microsoft.Build.CPPTasks.CL.read.1.tlog
build/ela.dir/Debug/ela_MD.tlog/Microsoft.Build.CPPTasks.CL.write.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
